#about{
    padding: 80px;
    @include media-breakpoint-down(md){
        padding: 30px 0;
    }
    .widget-title{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;
        color: #444444;
    }
    p{
        color: #777777;
        font-size: 14px;
        line-height: 2;
    }
    ul{
        list-style: none;
        padding-left: 0;
        li{
            .progress {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                -webkit-border-radius: 0;
                border-radius: 0;
                background: #e6e6e6;
                height: 30px;
                margin-bottom: 15px;
                overflow: hidden;
            }
            .progress-bar {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                line-height: 30px;
                background: $theme-color;
                text-transform: uppercase;
                float: left;
                height: 100%;
                font-size: 12px;
                color: $white;
                text-align: center;
                transition: width 0.6s ease;
            }
        }
    }
}