#portfolio{
    padding-bottom: 80px;
    margin-top: 100px;
    background: #3d3f3f;
    padding-top: 120px;
    @include media-breakpoint-down(md){
        padding: 30px 0;
    }
    .title-section{
        h2{
            color: $white !important;
        }
    }
    .portfolio-thumb {
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
        &:hover{
            img{
                transform: scale(1.1);
                transition: 1s all;
            }
        }
        img {
            width: 100%;
            height: auto;
            transition: 1s all;
        }
        .overlay {
            opacity: 0;
            visibility: visible;
            background: rgba(227, 114, 46, 0.9);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            .inner {
                position: absolute;
                padding: 20px;
                width: 100%;
                bottom: 0;
                left: 0;
                text-align: center;
                h4 {
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: $black;
                }
                span {
                    font-weight: 300;
                    color: $white;
                }
            }
        }
    }
}